    <div id="footer" class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <div class="row">
          <h4 class="footer_note">ANDREW POHL ©</h4>
          <a href="https://generalassemb.ly"><img class="footer_token" src="https://generalassemb.ly/online/assets/ga-lockup-logo-9d95d5d0a1c966540edaedcb440b1963.png"></a>
          <a href="https://www.facebook.com/andypohlarbear"><img class="footer_token" src="http://fc00.deviantart.net/fs71/f/2012/326/5/8/facebook_icon_black_by_royal_exo-d5ls3b5.png"></a>
          <a href="https://twitter.com/selltheheart"><img class="footer_token" src="http://icons.iconarchive.com/icons/graphics-vibe/neon-glow-social/256/twitter-icon.png"></a>
          <a href="http://instagram.com/selltheheart"><img class="footer_token" src="http://app.everlightcms.com/assets/294/images/instagram-white.png"></a>
          <a href="https://github.com/AndrewDPohl"><img class="footer_token" src="http://static.iconsplace.com/icons/preview/white/github-256.png"></a>
          <a href="https://www.linkedin.com/in/andrewdpohl"><img class="footer_token" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/black-inlay-steel-squares-icons-social-media-logos/097909-black-inlay-steel-square-icon-social-media-logos-linkedin-logo.png"></a>
          <a href="https://selltheheartrecords.storenvy.com"><img class="footer_token" src="http://i.imgur.com/OGcIWDg.png?1"></a>
        </div>
      </div>
    </div>
  
