<div class="container">
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4 box">
      <h3 class="login">Need A Workout Partner?</h3>
      <h3 class="login"><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></h3>
    </div>
  </div>
</div>